.feedback-block {
    max-width: 410px;
}
.feedback-block._black * {
    color: #494949;
}
.feedback-block._black .feedback-form__input::placeholder {
    color: #494949;
}
.feedback-block._black .feedback-form__input, .feedback-block._black .my-select__element, .feedback-block._black .my-select__element > .my-select-arrow {
    border-color: #494949;
}
.feedback-block._black .my-select-arrow {
    border-top-color: #494949;
}
.feedback-block._black .my-checkbox > .my-checkbox__new, .feedback-block._black .my-checkbox > .my-checkbox__old:checked + .my-checkbox__new::before {
    border-color: #494949;
    color: #494949;
}

.feedback-form__button._orange {
    color: #FFF;
}
.feedback-block__title {
    font-size: 18px;
    margin-bottom: 46px;
    text-transform: uppercase;
}
.feedback-form {
    max-width: 430px;
}
.feedback-block__form {
    margin-bottom: 45px;
}
.feedback-form__input {
}
.feedback-form__button {
}
.feedback-block__text {
    font-size: 18px;
    text-transform: uppercase;
}

@media (max-width: 1317px) {
    .feedback-block {
        max-width: 351px;
    }
    .feedback-block__title {
        font-size: 15px;
        margin-bottom: 40px;
        max-width: 351px;
    }
    .feedback-form {
        max-width: 351px;
    }
    .feedback-block__form {
        margin-bottom: 31px;
    }
    .feedback-form__button {
        width: 338px;
        height: 77px;
        font-size: 17px;
    }
    .feedback-form__button._orange {
        width: 393px;
        height: 91px;
        background: url('../../assets/images/button-orange.svg');
        color: #FFF;
        filter: drop-shadow(3px 6px 0px #FFC671);
    }

    .feedback-block__text {
        font-size: 15px;
    }
}

@media (max-width: 991px) {
    .feedback-block {
        max-width: 314px;
    }
    .feedback-block__title {
        font-size: 14px;
        margin-bottom: 30px;
        max-width: 266px;
    }
    .feedback-form {
        max-width: 314px;
    }
    .feedback-block__form {
        margin-bottom: 31px;
    }
    .feedback-form__input {
    }
    .feedback-form__button {
        width: 305px;
        height: 71px;
        font-size: 14px;
    }
    .feedback-block__text {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .feedback-block {
        max-width: none;
        width: 100%;
    }
    .feedback-block__title {
        font-size: 16px;
        margin-bottom: 35px;
        max-width: 374px;
    }
    .feedback-form {
        max-width: 80%;
    }
    .feedback-block__form {
        margin-bottom: 31px;
    }
    .feedback-form__input {
    }
    .feedback-form__button {
        width: 322px;
        height: 75px;
        font-size: 15px;
    }
    .feedback-block__text {
        font-size: 16px;
        max-width: 420px;
    }
}

@media (max-width: 570px) {

}

@media (max-width: 431px) {
    .feedback-block {
        max-width: 314px;
    }
    .feedback-block__title {
        font-size: 14px;
        margin-bottom: 30px;
        max-width: 266px;
    }
    .feedback-form {
        max-width: 314px;
    }
    .feedback-block__form {
        margin-bottom: 31px;
    }
    .feedback-form__input {
    }
    .feedback-form__button {
        width: 305px;
        height: 71px;
        font-size: 14px;
    }
    .feedback-block__text {
        font-size: 14px;
    }
}
