.header {
    padding: 28px 0px 25px 0px;
    background: #FF9900;
    overflow: visible;
}
.header__container {
}
.header__desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
}
.header__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header__contacts {
    max-width: 218px;
    width: 100%;
}
.header__contacts:nth-of-type(2) {
    order: 3;
}

.header__phone-wrapper {
    position: relative;
}

.header__phone {
    font-size: 16px;
    font-weight: 700;
}

.header__dropdown {
}

.header__dropdown-item {
}

.header__adress {
    font-size: 14px;
    font-weight: 700;
}
.header__logo-link {
    display: block;
    max-width: 145px;
    max-height: 59px;
}
.header__logo {
    display: block;
    height: 100%;
    width: 100%;
}
.header__nav {
}
.header__menu {
}
.header__menu-list {
    display: flex;
    gap: 15px;
}
.header__menu-item {
}
.header__menu-link {
    font-size: 14px;
    font-weight: 700;
}
.header__mobile {
    display: none;
}

@media (max-width: 1318px) {
    
}

@media (max-width: 991px) {
    .header__contacts {
        max-width: 188px;
        width: auto;
    }
    .header__adress {
        font-size: 12px;
    }
    .header__menu-link {
        font-size: 13px;
        font-weight: 700;
    }
    .header__logo-link {
        display: block;
        max-width: 117px;
        max-height: 48px;
    }
}

@media (max-width: 768px) {
    .header__desktop {
        display: none;
    }
    .header__mobile {
        display: flex;
    }
    .header {
        padding: 18px 10px 25px 10px;
        background: #FF9900;
        position: fixed;
        z-index: 1000;
        width: 100%;
    }
    .header.open {
        padding-top: 30px;
    }
    .header__mobile-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 100%;
    }
    .header__main-mobile-addresses {
        display: flex;
        gap: 23px;
    }
    .header__main-mobile-adress {
        font-size: 12px;
        font-weight: 600;
    }
    .header__mobile-burger-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25px;
        height: 18px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        z-index: 30;
    }
    
    .header__mobile-burger-button span {
        display: block;
        width: 100%;
        height: 2px;
        background: #FFF;
        transition: all 0.3s linear;
        position: relative;
    }

    .header__mobile-burger-button.open {
        margin-top: 14px;
        width: 40px;
    }

    .header__mobile-burger-button.open span {
        display: block;
        width: 100%;
        height: 1.5px;
        background: #494949;
        transition: all 0.3s linear;
        position: relative;
    }
    
    .header__mobile-burger-button.open span:first-child {
        transform: translateY(8px) rotate(45deg);
    }
    
    .header__mobile-burger-button.open span:nth-child(2) {
        opacity: 0;
    }
    
    .header__mobile-burger-button.open span:last-child {
        transform: translateY(-8px) rotate(-45deg);
    }
    .header__mobile-content {
        padding: 30px 10px 40px 10px;
        display: none;
        background: #FFF;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        max-height: 85vh;
        overflow-y: auto;
    }
    .header__mobile-content.open {
        display: block;
    }
    .header__mobile-body {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .header__mobile-menu-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .header__mobile-menu-link {
        color: rgba(73, 73, 73, 1);
        font-size: 14px;
        font-weight: 700;
    }
    .header__mobile-addresses {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .header__mobile-address {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .header__mobile-address-text {
        color: rgba(73, 73, 73, 1);
        font-size: 14px;
        font-weight: 700;
    }
    .header__mobile-address-phone {
        color: rgba(73, 73, 73, 1);
        font-size: 16px;
        font-weight: 700;
    }
    .header__mobile-smd {
        display: flex;
        gap: 10px;
    }
    .header__mobile-smd-link {
        display: inline-block;
        max-width: 30px;
        max-height: 30px;
    }
    .header__mobile-smd-icon {
        display: inline-block;
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 570px) {
    .header__main-mobile-adress {
        font-size: 10px;
    }
    .header__mobile-burger-button {
        width: 22px;
        height: 15px;
    }
    .header__mobile-burger-button.open span:first-child {
        transform: translateY(7px) rotate(45deg);
    }
    
    .header__mobile-burger-button.open span:nth-child(2) {
        opacity: 0;
    }
    
    .header__mobile-burger-button.open span:last-child {
        transform: translateY(-6px) rotate(-45deg);
    }
    .header__mobile-body {
        gap: 22px;
    }
    .header__mobile-menu-list {
        gap: 15px;
    }
    .header__mobile-menu-item {
        font-size: 12px;
    }
    .header__mobile-menu-link {
        font-size: 12px;
    }
    .header__mobile-addresses {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .header__mobile-address {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .header__mobile-address-text {
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .header__mobile-address-phone {
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 7px;
    }
}

@media (max-width: 431px) {
    .header__mobile-burger-button {
        width: 18px;
    }
}